<div class="well">
  <h4 class="h4"> My Projects</h4>
</div>

<div class="main-text">
  <p>Just as an FYI, all of these projects can be found on my Github as well, which I have provided links to under <%= link_to "Links", links_path %> above. However, for you convenience, please follow them here!</p>
  <ul>
    <li><%= link_to "This Blog's code", "http://github.com/cguard90/cguard90.github.io", target: :_blank %></li>
    <li><%= link_to "Collection of my Phase 0 projects ", "https://github.com/cguard90/phase-0", target: :_blank %>just to show some progress from where I was a little over 12 weeks ago</li>
    <li><%= link_to "Motivator", "https://github.com/cguard90/motivator", target: :_blank %></li>
    <li><%= link_to "Survey Monkey Clone", "https://github.com/cguard90/zoos", target: :_blank %></li>
    <li><%= link_to "Women's Resources project NYC", "https://github.com/cguard90/Women-s_Resources_Project", target: :_blank %></li>
  </ul>
</div>