<div class="well">
  <h4>My Links</h4>
</div>

<div class="main-text">
  <p>
    If you would like to see more about me or contact me, follow the links!
  </p>
  <table class="table-condensed">
    <tr><td><%= link_to "Facebook", "https://www.facebook.com/chris.guard.75", target: :_blank %></td></tr>

    <tr><td><%= link_to "Github", "https://github.com/cguard90", target: :_blank%></td></tr>

    <tr><td><%= link_to "LinkedIn", "https://www.linkedin.com/profile/view?id=AAMAABPuv9kBIzdheR_0GVm7RlnXOp35gfqBEU8&trk=hp-identity-name", target: :_blank %></td></tr>

    <tr><td><%= link_to "Google+", "https://plus.google.com/u/0/111223069331897681381/posts/p/pub", target: :_blank %></td></tr>
  </table>
</div>

<div id="links_filler">
  <%= image_tag("/imgs/portrait.jpg") %>
</div>