<div class="Projects">
  <p>Just as an FYI, all of these projects can be found on my Github as well, which I have provided links to under <%= link_to "Links", links_path %> above. However, for you convenience, please follow them here!</p>
  <ul>
    <li><%= link_to "placeholders as airport internet isn't working" %></li>
    <li><%= link_to "placeholders as airport internet isn't working"%></li>
    <li><%= link_to "placeholders as airport internet isn't working"%></li>
    <li><%= link_to "placeholders as airport internet isn't working"%></li>
    <li><%= link_to "placeholders as airport internet isn't working"%></li>
  </ul>
</div>