<!DOCTYPE html>
  <head>
    <title>Chris Guard Blog</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>
<body>

  <div class="page-header">
    <h4><%= @title %></h4>
  </div>

  <div class="col-sm-3">
      <div class="btn-default"> <%=link_to "Home", root_path%> </div>
      <div class="btn-default"> <%= link_to "Links", {action: "index", controller: "welcome", anchor: "links"} %></div>
      <div class="btn-default"> <%= link_to "Projects", {action: "index", controller: "welcome", anchor: "projects"} %> </div>
      <div class="btn-default"> <%= link_to "Resume", {action: "index", controller: "welcome", anchor: "resume"} %></div>
  </div>


  <div class="col-sm-4 navbar-inverse" id="entries-box">
    <ul class="nav nav-pills nav-stacked">
      <p class="text-primary">Entries:</p>
      <%@entries.each do |entry| %>
        <li class="entries-list"><%= link_to "#{entry.title}", entry_path(id: entry.id) %></li>
      <% end %>
    </ul>
  </div>
<%= yield %>

<div class="panel-footer">Thank you for visiting!</div>

</body>
</html>
