<!DOCTYPE html>
<html>
<head>
  <title>Chris Guard Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="col-sm-3">
    <ul class="nav">
      <li class="btn-default"> <%=link_to "Home", root_path%> </li>
      <li class="btn-default"> <%= link_to "Links", links_path %></li>
      <li class="btn-default"> <%= link_to "Projects", projects_path %> </li>
      <li class="btn-default"> <%= link_to "Resume" %></li>
    </ul>
  </div>

  <div class="col-sm-4 navbar-inverse" id="entries-box">
    <ul class="nav nav-pills nav-stacked">
      <p class="text-primary">Entries:</p>
      <%@entries.each do |entry| %>
        <li class="entries-list"><%= link_to "#{entry.title}", entry_path(id: entry.id) %></li>
      <% end %>
    </ul>
  </div>

<%= yield %>

<div class="panel-footer">Thank you for visiting!</div>

</body>
</html>
